body {
    width:85vw;
    max-width:100vw;  /*c*/
    margin-right:15vw;
}


h1 {
    font-size: 3vw;  /*c*/
    margin: 1.5vw 7vw; /*c*/
}
.main-nav ul li a {
    font-size:2vw; /* c*/
}

.about {
    height: 80vh;                /*c*/
    margin: 8vw 0 30vw 0;    /*c*/
} 
article img {
    width: 15vw;   /*fasdfasdf asd*/
}

.about p {
    width: 85vw;   /*sdfsdf*/
    font-size: 2.5vw;  /*cfsdafasdfasd*/
}

#hobbies {
    height:80vh;  /*c*/
}

#hobbies {
    margin-left:3vw;
}
#hobbies div {
    display:inline-block;
    width: 26vw;
}
#hobbies div img {
    width: 25vw;
    height: 15vw;
}

h2  {
    font-size:2vw;    
    line-height:2.3vw;    
}

div a {
    line-height:5vw;    
    font-size:1.7vw;    
}


#photos {
    margin-left:3vw;   
}

#left-arrow, #right-arrow {
    top: 31%;
}

figure {
    margin: 0;  /* c */
}
figure img {
    width: 40vw;    
    height:21vw;   
}

figure img:nth-child(even) {
    float:right;   
}

.hidden890 {
    visibility:hidden;  
}
form {
    margin: 1.5vw; 
}

input {
    display: block; /*fasfasdfasdf*/
    margin-bottom: 0.5vw;
}

label {
    visibility:hidden;
    position:absolute;
    left:0;
    bottom:0;
}
.social-nav ul li a img {
    width: 35px;
    height: 35px;
}
